#jinja2: lstrip_blocks: "True"
{{ ansible_managed | comment }}
global_defs {
  enable_script_security
  script_user root
}

{% for instance in keepalived_vrrp_instances %}
  {% if instance.check_status_command is defined %}
vrrp_script chk_command_{{ instance.virtual_router_id }} {
   script "{{ instance.check_status_command }}"   # command that verify status (expect exit code 0)
   interval {{ check_status_command_interval }}
   weight {{ check_status_command_weight }}
}

  {% endif %}
vrrp_instance {{ instance.name }} {
  state {% if instance.state is defined  %}{{ instance.state }}{% elif hostvars[groups['keepalived'][0]]['inventory_hostname'] == inventory_hostname %}MASTER{% else %}BACKUP{% endif +%}
  interface {% if instance.interface is defined %}{{ instance.interface }}{% else %}{{ ansible_default_ipv4.interface }}{% endif +%}
  unicast_src_ip {% if instance.unicast_src_ip is defined %}{{ instance.unicast_src_ip }}{% else %}{{ ansible_default_ipv4.address }}{% endif +%}
  unicast_peer {
  {% if instance.secondary_ips is defined %}
    {% for secondary_ip in instance.secondary_ips %}
      {% if secondary_ip != ansible_default_ipv4.address %}
    {{ secondary_ip }}
      {% endif %}
    {% endfor %}
  {% else %}
    {% for host in groups['keepalived'] %}
      {% if host != inventory_hostname %}
        {% if hostvars[host]['ansible_default_ipv4']['address'] is defined %}
    {{ hostvars[host]['ansible_default_ipv4']['address'] }}
        {% else %}
    {{ hostvars[host]['ansible_host'] }}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  }
  virtual_router_id {{ instance.virtual_router_id }}
  priority {% if instance.priority is defined %}{{instance.priority }}{% else %}{{ dynamic_priority }}{% endif +%}
  authentication {
    auth_type {{ instance.authentication.auth_type }}
    auth_pass {{ instance.authentication.auth_pass }}
  }
  virtual_ipaddress {
  {% for ip in instance.virtual_ipaddresses %}
    {{ ip.name }}/{{ ip.cidr }}
  {% endfor %}
  }
  {% if instance.check_status_command is defined %}
  track_script {
    chk_command_{{ instance.virtual_router_id }}
  }
  {% endif %}
{% endfor %}
}
